.panel {
    margin-left: 10px;
    margin-right: 10px;
}

.mr-add {
    margin: 10px 0 20px 10px;
}
.btn-success:focus, .btn-danger:focus, .btn-info:focus{
    outline: none !important;
}
.mr-10 {
    margin-right: 10px;
}
.modal-form {
    background-color: #efefef75;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}
.label-form {
    font-size: 12px;
}
.form-control {
    height: 25px;
}
.form-group {
    margin-bottom: 0;
}
.form {
    width: 35%;
    margin: 30px auto 0;
    background-color: white;
    padding: 15px 25px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 1px #00000054;
}
.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 10px
}
.form-flex {
    display: flex;
    justify-content: center;
}
.mr-15 {
    margin-right: 15px;
}
.input-search {
    display: unset;
    width: 30%;
    margin-left: 10px;
    height: 29px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #898989;
}
.search-form {
    padding: 0px 0 15px 15px;
}